:host {
  display: block;
  --simple-picker-background-color: var(--simple-fields-background-color,white);
  --simple-picker-border-width: 0;
  --simple-picker-focus-border-width: 0;
  --simple-picker-display: block;
  --simple-picker-listbox-border-width: 1px;
  --simple-picker-listbox-outline: none;
}

:host([hidden]) {
  display: none;
}