:host {
  display: block;
  background-color: #ffffff;
  overflow: hidden;
}

:host([hidden]) {
  display: none;
}

eco-json-schema-object {
  width: 50%;
}
eco-json-schema-object {
  color: var(--hax-text-color);
  --eco-json-schema-object-form : {
    -ms-flex: unset;
    -webkit-flex: unset;
    flex: unset;
    -webkit-flex-basis: unset;
    flex-basis: unset;
  }
}
eco-json-schema-object .hax-code-editor {
  padding: 0;
}