:host {
  display: block;
}

:host([hidden]) {
  display: none; 
}

::slotted(figure){
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 400px;
  max-height: 400px;
  display: block;
  border: 1px solid #ddd;
  page-break-inside: avoid;
}

@media screen {
  ::slotted(figure){
    display: none;
  }
}