<!-- @dsCard group="Data and documents" height=358 subtitle="&lt;collection-list&gt;" -->
<collection-list responsive-size="xs">
  <collection-item image="../../runtime/media/card-1.jpg" alt="Students" line1="Astro 140" icon="courseicons:astro140" line2="Life in the Universe" line3="Dr. Eric Feigelson" url="#"></collection-item>
  <collection-item tags="cool,fun" accent-color="orange" image="../../runtime/media/card-2.jpg" alt="Campus" line1="Chem 110" icon="courseicons:chem110" line2="Chemical Principles" line3="Dr. Joseph Houck" url="#"></collection-item>
  <collection-item image="../../runtime/media/campus.jpg" alt="University" line1="Phys 211" icon="courseicons:phys2" line2="Mechanics" line3="Dr. Louis Leblond" url="#"></collection-item>
</collection-list>
