:host {
  display: block;
  --scroll-button-z-index: 99;
  z-index: var(--scroll-button-z-index);
}

:host([hidden]) {
  display: none;
}

simple-icon-button {
  background-color: var(--scroll-button-background-color, rgba(0,0,0,.6) );
  color: var(--scroll-button-color, white);
}

simple-icon-button:hover,
simple-icon-button:active,
simple-icon-button:focus {
  color: var(--scroll-button-background-color, rgba(0,0,0,1) );
  background-color: var(--scroll-button-color, white);
}

simple-tooltip {
  --simple-tooltip-background: var(
  --scroll-button-tooltip-background-color,
  #000000
);
  --simple-tooltip-opacity: 1;
  --simple-tooltip-text-color: var(
  --scroll-button-tooltip-color,
  #ffffff
);
  --simple-tooltip-delay-in: 0;
  --simple-tooltip-border-radius: 0;
}
