:host {
  display: block;
  font-family: "Muli","Helvetica","Tahoma","Geneva","Arial",sans-serif;
  letter-spacing: -.03rem;
  font-weight:400;
}
h1,h2,h3,h4,h5,h6 {
  font-family:"Montserrat","Helvetica","Tahoma","Geneva","Arial",sans-serif;
  font-weight:400;
  text-rendering:optimizeLegibility;
  line-height:150%;
  letter-spacing:0
}

:host([hidden]) {
  display: none;
}
/**
 * Hide the slotted content during edit mode. This must be here to work.
 */
:host([edit-mode]) #slot {
  display: none;
}

#contentcontainer {
  background: #FAFAFA;
  padding: 48px 96px;
}

.header {
  background: #747474;
  color: #FAFAFA;
  text-align: center;
  padding: 0rem 1rem 2rem 1rem;
}
.header  a {
  display: inline-block;
  color: #FAFAFA;
  text-decoration: none;
}
.title {
  font-family: "Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-size: 52px;
  letter-spacing: -3px;
  line-height: 78px;
  margin-bottom: 27.2px;
  margin-top: 13.6px;
  text-align: center;
  text-rendering: optimizelegibility;
  font-weight: 100;
}
.outline-title {
  margin: 2rem 0 0;
  position: relative;
  line-height: 2;
  font-size: 1.4rem;
}
map-menu {
  background-color: #383F45;
  color: #FFFFFF;
  padding: 25px 0 15px;
  height: auto;
  max-height: calc(100vh - 200px);
  --map-menu-active-color: #FFFFFF;
  --map-menu-container: {
    padding: 0;
    background-color: #2d3237;
  }
  --map-menu-item-active-item: {
    color: #2d3237;
  }
}

map-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(56, 63, 69, 0.9);
  border-radius: 0;
  background-color: #383F45;
}
map-menu::-webkit-scrollbar {
  width: 2px;
  background-color: #383F45;
}
map-menu::-webkit-scrollbar-thumb {
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 4px #747474;
  background-color: #383F45;
}
app-drawer-layout {
  min-height: 100vh;
  min-height: -moz-available; /* WebKit-based browsers will ignore this. */
  min-height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
  min-height: fill-available;
  --app-drawer-width: 300px;
  --app-drawer-scrim-background: rgba(80, 80, 80, 0.8);
  --app-drawer-width: 300px;
  --app-drawer-content-container: {
    overflow: hidden;
    background-color: #383F45;
  }
}
.rss-buttons {
  justify-content: space-evenly;
  display: flex;
}
.rss-buttons paper-button {
  color: white;
  background-color: #383F45;
  font-size: 13px;
  margin: 0;
}
.rss-buttons paper-button:hover,
.rss-buttons paper-button:focus,
.rss-buttons paper-button:active {
  background-color: #2d3237;
}
app-drawer {
  box-shadow: 0 0 6px -3px var(--haxcms-color, black);
  overflow: hidden;
  width: 300px;
}
app-drawer-layout[narrow] #contentcontainer {
  padding: 0 16px;
}
#menubutton,#menubutton2 {
  display: none;
}
app-drawer-layout[narrow] #menubutton {
  display: block;
}
app-drawer-layout[narrow] #menubutton2 {
  display: block;
  position: absolute;
}
app-drawer-layout[narrow] .header {
  padding: 0;
}

.arrow-floats {
  background-color: rgba(0,0,0,0);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 300px;
  width: 64px;
  height: 100vh;
  border-radius: 0;
  transition: .4s all ease-in-out;
  transition-delay: .2s;
  margin: 0;
  padding: 0;
  opacity: .8;
  -webkit-transition: .4s all ease-in-out;
  -moz-transition: .4s all ease-in-out;
  -ms-transition: .4s all ease-in-out;
  -o-transition: .4s all ease-in-out;
}
.arrow-floats iron-icon {
  width: 64px;
  height: 64px;
  display: contents;
}
.arrow-floats:hover,
.arrow-floats:active,
.arrow-floats:focus {
  opacity: 1;
  background-color: rgba(0,0,0,.1);
}
app-drawer-layout[narrow] map-menu {
  max-height: calc(100vh - 160px);
}
app-drawer-layout[narrow] .arrow-floats {
  background-color: transparent !important;
  bottom: 0;
  top: unset;
  width: 64px;
  height: 64px;
}
#next {
  right: 0;
  left: unset;
}
app-drawer-layout[narrow] #prev {
  left: unset;
}
:host([opened]) app-drawer-layout[narrow] #prev,
:host([opened]) app-drawer-layout[narrow] #next {
  display: none;
}
paper-tooltip {
  --paper-tooltip-background: #000000;
  --paper-tooltip-opacity: 1;
  --paper-tooltip-text-color: #ffffff;
  --paper-tooltip-delay-in: 0;
  --paper-tooltip: {
    border-radius: 0;
  }
}