
:host {
  display: block;
  width: calc(100% - 2px);
  border: 1px solid var(--simple-colors-default-theme-grey-3);
  --a11y-media-color: var(--simple-colors-default-theme-grey-11);
  --a11y-media-bg-color: var(--simple-colors-default-theme-grey-2);
  --a11y-media-hover-color: var(--simple-colors-default-theme-grey-12);
  --a11y-media-hover-bg-color: var(--simple-colors-default-theme-grey-2);
  --a11y-media-accent-color: var(--simple-colors-default-theme-accent-9);
  --a11y-media-faded-accent-color: var(--simple-colors-default-theme-accent-8);

  /* settings */
  --a11y-media-settings-menu-color: var(--a11y-media-color);
  --a11y-media-settings-menu-bg-color: var(--a11y-media-bg-color);
  --a11y-media-settings-menu-hover-color: var(--a11y-media-hover-color);
  --a11y-media-settings-menu-hover-bg-color: var(--a11y-media-hover-bg-color);

  /* buttons */
  --a11y-media-button-color: var(--a11y-media-color);
  --a11y-media-button-bg-color: var(--a11y-media-bg-color);
  --a11y-media-button-hover-color: var(--a11y-media-accent-color);
  --a11y-media-button-hover-bg-color: var(--a11y-media-hover-bg-color);
  --a11y-media-button-toggle-color: var(--a11y-media-faded-accent-color);

  /* toggle button */
  --paper-toggle-button-unchecked-bar-color: var(--a11y-media-color);
  --paper-toggle-button-unchecked-button-color: var(--a11y-media-color);
  --paper-toggle-button-checked-bar-color: var(--a11y-media-accent-color);
  --paper-toggle-button-checked-button-color: var(--a11y-media-accent-color);

  /* slider */
  --paper-slider-active-color: var(--a11y-media-accent-color);
  --paper-slider-secondary-color: var(--a11y-media-faded-accent-color);
  --paper-slider-pin-color: var(--a11y-media-faded-bg-color);
  --paper-slider-pin-start-color: var(--a11y-media-faded-bg-color);
  --paper-slider-pin-end-color: var(--a11y-media-faded-bg-color);
  --paper-slider-knob-color: var(--a11y-media-accent-color);
  --paper-slider-knob-start-color: var(--a11y-media-bg-color);
  --paper-slider-knob-end-color: var(--a11y-media-bg-color);
  --paper-slider-knob-border-color: var(--a11y-media-accent-color);
  --paper-slider-knob-start-border-color: var(--a11y-media-bg-color);
  --paper-slider-knob-end-border-color: var(--a11y-media-bg-color);
  
  /* transcript */
  --a11y-media-transcript-color: var(--simple-colors-default-theme-grey-7);
  --a11y-media-transcript-bg-color: var(--simple-colors-default-theme-grey-1);
  --a11y-media-transcript-accent-color: var(--simple-colors-default-theme-accent-8);
  --a11y-media-transcript-faded-accent-color: var(--simple-colors-default-theme-accent-10);
  --a11y-media-transcript-cue-color: var(--simple-colors-light-theme-grey-12);
  --a11y-media-transcript-cue-bg-color: var(--simple-colors-light-theme-grey-1);
  --a11y-media-transcript-active-cue-color: var(--simple-colors-light-theme-grey-12);
  --a11y-media-transcript-active-cue-bg-color: var(--simple-colors-light-theme-accent-1);
  --a11y-media-transcript-focused-cue-color: var(--simple-colors-light-theme-grey-12);
  --a11y-media-transcript-focused-cue-bg-color: var(--simple-colors-light-theme-grey-2);
  --a11y-media-transcript-match-color: var(--simple-colors-light-theme-grey-1);
  --a11y-media-transcript-match-bg-color: var(--simple-colors-light-theme-accent-10);
  --a11y-media-transcript-match-border-color: var(--simple-colors-light-theme-accent-12);
}
:host([dark]) {
  outline: 1px solid var(--simple-colors-default-theme-grey-1);
}
:host([dark-transcript]) {
  --a11y-media-transcript-bg-color: var(--simple-colors-dark-theme-grey-1);
  --a11y-media-transcript-cue-color: var(--simple-colors-dark-theme-grey-12);
  --a11y-media-transcript-cue-bg-color: var(--simple-colors-dark-theme-grey-1);
  --a11y-media-transcript-active-cue-color: var(--simple-colors-dark-theme-accent-10);
  --a11y-media-transcript-active-cue-bg-color: var(--simple-colors-dark-theme-grey-1);
  --a11y-media-transcript-match-color: var(--simple-colors-dark-theme-grey-1);
  --a11y-media-transcript-match-bg-color: var(--simple-colors-dark-theme-accent-10);
  --a11y-media-transcript-match-border-color: var(--simple-colors-dark-theme-accent-12);
  --a11y-media-transcript-focused-cue-color: var(--simple-colors-dark-theme-grey-12);
  --a11y-media-transcript-focused-cue-bg-color: var(--simple-colors-dark-theme-grey-2);
}
:host > * {
  flex: 1 1 auto;
  max-height: 100vh;
  transition: all 0.5s;
}
:host,
:host #outerplayer {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  flex-flow: column;
  color: var(--simple-colors-default-theme-grey-12);
  background-color: var(--simple-colors-default-theme-grey-2);
}
:host #sources, 
:host #slider,
:host #controls {
  width: 100%;
}
:host #sources {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  align-content: stretch;
  position: relative;
}
:host #sources > * {
  position: absolute;
  top: 0;
  left: 0;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
}
:host #playbutton {
  z-index: 2;
}
:host #slider {
  flex: 0 0 32px;
  height: 32px;
  z-index: 1000;
}
:host #controls {
  flex: 0 0 44px;
  z-index: 2 !important;
}
/*:host #player {
  display: block;
  max-width: 100%;
  transition: position 0.5s ease, max-width 1s ease;
  background-color: var(--simple-colors-default-theme-grey-2);
}*/
:host([__playing]) #loader {
  background-image: none !important;
}
:host #youtube {
  opacity: 0;
}
:host #sources[show-yt-iframe] #youtube {
  opacity: 1;
  transition: opacity 0.5s;
}
:host #customcc {
  font-size: 20px;
  width: 100%;
  height: 100%;
  transition: font-size 0.25s;
}
:host #customcctxt {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  align-content: stretch;
  color: white;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}
:host([audio-only]) #customcctxt {
  color: var(--a11y-media-color);
  background-color: transparent;
}
:host #customcctxt:not([hidden]) {
  top: unset;
  bottom: 8px;
  margin: 0 10px;
  padding: 0.15em 4px;
  transition: all 0.5s;
}
:host([audio-only]) #customcctxt:not([hidden]) {
  padding: 5px 16px;
}
:host #printthumb {
  width: 100%;
  margin: 0;
  display: block;
  border-top: 1px solid #aaaaaa;
}
:host .sr-only {
  position: absolute;
  left: -9999px;
  font-size: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}
:host .media-caption:not(:empty) {
  width: calc(100% - 30px);
  padding: 5px 15px;
}
:host .media-type {
  font-style: italic;
}
@media screen {
  :host([flex-layout]:not([responsive-size*="s"])) {
    flex-flow: row;
    padding: 0;
  }
  :host #printthumb {
    display: none;
  }
  :host([sticky]:not([sticky-corner="none"])) #outerplayer {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 200px;
    max-width: 200px;
    z-index: 999999;
    border: 1px solid var(--a11y-media-bg-color);
    box-shadow: 1px 1px 20px 1px rgba(125, 125, 125);
    border-radius: 3.2px;
  }
  :host([dark][sticky]:not([sticky-corner="none"])) #outerplayer {
    border: 1px solid var(--a11y-media-bg-color);
  }
  :host([sticky][sticky-corner="top-left"]) #outerplayer {
    right: unset;
    left: 5px;
  }
  :host([flex-layout]:not([responsive-size*="s"])) > div {
    width: 50%;
    flex: 1 1 auto;
  }
  :host #innertranscript {
    position: relative;
    height: 100%;
  }
  :host([hide-transcript]) #outerplayer {
    min-width: 50%;
    max-width: 100%;
  }
  :host([hide-transcript]) #outertranscript {
    display: none;
  }
  :host(:not([no-height]):not([stacked-layout]):not([responsive-size*="s"]))
    #transcript {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
  }
  :host(:not([no-height]):not([stacked-layout]):not([responsive-size*="s"]))
    #player.totop {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px !important;
    z-index: 9999;
  }
  :host([sticky][sticky-corner="bottom-left"]) #player {
    top: unset;
    right: unset;
    bottom: 5px;
  }
  :host([sticky][sticky-corner="bottom-right"]) #player {
    top: unset;
    bottom: 5px;
  }
  :host([sticky]:not([sticky-corner="none"]):not([no-height]):not([stacked-layout]):not([responsive-size*="s"]))
    #controls {
    display: none;
  }
  :host([responsive-size="lg"]) #customcc {
    font-size: 16px;
  }
  :host([responsive-size="md"]) #customcc,
  :host([flex-layout][responsive-size="xl"]) #customcc {
    font-size: 14px;
  }
  :host([responsive-size="sm"]) #customcc,
  :host([flex-layout][responsive-size="lg"]) #customcc {
    font-size: 12px;
  }
  :host([responsive-size="xs"]) #customcc,
  :host([flex-layout][responsive-size="md"]) #customcc,
  :host([flex-layout][responsive-size="sm"]) #customcc {
    font-size: 10px;
  }
  :host([sticky]:not([sticky-corner="none"])) #customcc {
    display: none;
  }
  :host .media-caption {
    color: var(--a11y-media-bg-color);
    background-color: var(--a11y-media-accent-color);
  }
  :host #audio-only {
    text-align: center;
    font-style: italic;
    width: 100%;
    line-height: 160%;
  }
  :host .print-only {
    display: none;
  }
}

@media print {
  :host,
  :host([dark]) {
    outline: 1px solid #aaaaaa;
    background-color: #ffffff;
  }
  :host .screen-only,
  :host #printthumb:not([src]),
  :host(:not([thumbnail-src])) #sources {
    display: none;
  }
  :host #searchbar {
    display: none;
  }
  :host .media-caption {
    background-color: #cccccc;
    color: #000000;
    font-size: 120%;
  }
}