:host {
  display: block;
  overflow: hidden;
  width: calc(100% - 2px);
  font-family: var(--simple-fields-font-family,sans-serif);
  --a11y-media-player-height: unset;
  --a11y-media-color: var(--simple-colors-default-theme-grey-11, #111111);
  --a11y-media-bg-color: var(--simple-colors-default-theme-grey-2, #eeeeee);
  --a11y-media-border-color: var(--simple-colors-default-theme-grey-3, #dddddd);
  --a11y-media-hover-color: var(--simple-colors-default-theme-grey-12, #000000);
  --a11y-media-hover-bg-color: var(--simple-colors-default-theme-grey-2, #eeeeee);
  --a11y-media-accent-color: var(--simple-colors-default-theme-accent-9, #333333);
  --a11y-media-faded-accent-color: var(--simple-colors-default-theme-accent-8, #444444);
  --a11y-media-disabled-color: var(--simple-colors-default-theme-grey-5, #bbbbbb);
  border: 1px solid var(--a11y-media-border-color, var(--simple-colors-default-theme-grey-3));

  /* settings */
  --a11y-media-settings-menu-color: var(--a11y-media-color);
  --a11y-media-settings-menu-bg-color: var(--a11y-media-bg-color);
  --a11y-media-settings-menu-hover-color: var(--a11y-media-hover-color);
  --a11y-media-settings-menu-hover-bg-color: var(--a11y-media-hover-bg-color);
  --simple-fields-accent-color: var(--a11y-media-accent-color);
  --simple-fields-background-color: var(--a11y-media-bg-color);
  --simple-fields-color: var(--a11y-media-color);
  --simple-fields-border-color: var(--a11y-media-border-color);
  --simple-fields-border-color-light: var(--a11y-media-border-color-light,var(--a11y-media-border-color));

  /* buttons */
  --a11y-media-button-color: var(--a11y-media-color);
  --a11y-media-button-bg-color: var(--a11y-media-bg-color);
  --a11y-media-button-hover-color: var(--a11y-media-accent-color);
  --a11y-media-button-hover-bg-color: var(--a11y-media-hover-bg-color);
  --a11y-media-button-disabled-color: var(--a11y-media-disabled-color);
  --a11y-media-button-toggle-color: var(--a11y-media-faded-accent-color);

  /* slider */
  --simple-range-input-bg: var(--a11y-media-accent-color);
  --simple-range-input-color: var(--a11y-media-color);
  --simple-range-input-track-height: 4px;
  --simple-range-input-pin-height: 10px;

  /* link sharing toast */
  --simple-toast-color: var(--a11y-media-color);
  --simple-toast-background-color: var(--a11y-media-bg-color);
  
  /* transcript */
  --a11y-media-transcript-color: var(--simple-colors-default-theme-grey-7, #666666);
  --a11y-media-transcript-bg-color: var(--simple-colors-default-theme-grey-1, #ffffff);
  --a11y-media-transcript-accent-color: var(--simple-colors-default-theme-accent-8, #444444);
  --a11y-media-transcript-faded-accent-color: var(--simple-colors-default-theme-accent-10, #222222);
  --a11y-media-transcript-cue-color: var(--simple-colors-fixed-theme-grey-12, #000000);
  --a11y-media-transcript-cue-bg-color: var(--simple-colors-fixed-theme-grey-1, #ffffff);
  --a11y-media-transcript-active-cue-color: var(--simple-colors-fixed-theme-grey-12, #000000);
  --a11y-media-transcript-active-cue-bg-color: var(--simple-colors-fixed-theme-accent-1, #ffffff);
  --a11y-media-transcript-focused-cue-color: var(--simple-colors-fixed-theme-grey-12, #000000);
  --a11y-media-transcript-focused-cue-bg-color: var(--simple-colors-fixed-theme-grey-2, #eeeeee);
  --a11y-media-transcript-match-color: var(--simple-colors-fixed-theme-grey-1, #ffffff);
  --a11y-media-transcript-match-bg-color: var(--simple-colors-fixed-theme-accent-10, #222222);
  --a11y-media-transcript-match-border-color: var(--simple-colors-fixed-theme-accent-12, #000000);
}

:host([dark]) {
  border: 1px solid var(--simple-colors-default-theme-grey-1, #000000);
}

:host([dark-transcript]) {
  --a11y-media-transcript-bg-color: var(--simple-colors-dark-theme-grey-1, #000000);
  --a11y-media-transcript-cue-color: var(--simple-colors-dark-theme-grey-12, #ffffff);
  --a11y-media-transcript-cue-bg-color: var(--simple-colors-dark-theme-grey-1, #000000);
  --a11y-media-transcript-active-cue-color: var(--simple-colors-dark-theme-accent-10, #dddddd);
  --a11y-media-transcript-active-cue-bg-color: var(--simple-colors-dark-theme-grey-1, #000000);
  --a11y-media-transcript-match-color: var(--simple-colors-dark-theme-grey-1, #000000);
  --a11y-media-transcript-match-bg-color: var(--simple-colors-dark-theme-accent-10, #dddddd);
  --a11y-media-transcript-match-border-color: var(--simple-colors-dark-theme-accent-12, #ffffff);
  --a11y-media-transcript-focused-cue-color: var(--simple-colors-dark-theme-grey-12, #ffffff);
  --a11y-media-transcript-focused-cue-bg-color: var(--simple-colors-dark-theme-grey-2, #111111);
}

:host *::-webkit-scrollbar {
  width: var(--a11y-media-scrollbar-width,5px);
}

:host([hidden]),
*[hidden] {
  display: none !important;
}

:host([height]) {
  height: calc(var(--a11y-media-player-height) - 2px);
  max-height: calc(var(--a11y-media-player-height) - 2px);
  overflow: unset;
}

:host([height]) #player-section {
  max-height: var(--a11y-media-player-height);
}

:host([height]) #player-and-controls {
  max-height: calc(100% - 32px - 44px);
}

:host([height]) #player {
  height: calc(100% - 32px - 44px);
  padding-top: unset;
}

:host,
#player-section {
  color: var(--a11y-media-hover-color);
  background-color: var(--a11y-media-bg-color);
}

:host > * {
  transition: all 0.5s;
}

:host,
#player-section,
#player,
#transcript-section,
#transcript-and-controls {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  align-content: stretch;
} 

#captionlink:link {
  text-decoration: none;
}

#player-and-controls,
#player, 
#player > *,
#cc-custom,
#cc-text,
#slider,
#controls,
#player-section,
#transcript-section,
#transcript-and-controls {
  width: 100%;
}

#transcript-and-controls > * {
  width: calc(100% - 1px);
}

:host > *,
#player-and-controls,
#player,
#player > *,
#cc-text {
  flex: 1 1 auto;
}

#controls,
#searchbar {
  flex: 0 0 44px;
}

#player-and-controls {
  margin: 0 auto;
  display: flex;
}

#player {
  height: 400px;
  position: relative;
  background-size: cover;
  background-position: center;
}

#player > * {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

#playbutton,
#slider,
#controls {
  z-index: 2;
}

#html5 {
  min-width: 100px;
  display: flex;
  align-items: stretch;
}

:host([audio-only]) #playbutton {
  opacity: 0;
}

#slider {
  flex: 0 0 32px;
  height: 32px;
  background-color: var(--a11y-media-bg-color);
  --simple-range-input-pin-height: 15px;
}

a11y-media-youtube {
  opacity: 1;
  transition: opacity 0.5s;
}

a11y-media-youtube.hidden {
  opacity: 0;
}

#cc-custom:not([hidden]) {
  font-size: 20px;
  transition: font-size 0.25s;
  display: flex;
}

#cc-text {
  align-self: flex-end;
  font-family: sans-serif;
  color: white;
  margin: 4px 10px;
  padding: 0.15em 4px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}

#player-and-controls[audio-no-thumb] #cc-text {
  align-self: center;
  color: var(--a11y-media-color);
  background-color: transparent;
}

#controls {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 44px;
  max-height: 44px;
  position: relative;
  color: var(--a11y-media-color);
  background-color: var(--a11y-media-bg-color);
  --primary-text-color: var(--a11y-media-settings-menu-color);
}

#controls-left {
  position: absolute;
  left: 0;
  min-width: 200px;
}

#controls-right {
  position: absolute;
  right: 0;
  top: 0;
}

absolute-position-behavior {
  background-color: var(
  --a11y-media-settings-menu-bg-color
);
  color: var(--a11y-media-settings-menu-color);
  border: 1px solid var(--a11y-media-border-color, var(--simple-colors-default-theme-grey-3));
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}

absolute-position-behavior::-webkit-scrollbar-track {
  background-color: var(--a11y-media-settings-menu-bg-color);
}

absolute-position-behavior::-webkit-scrollbar-thumb {
  background-color: var(--a11y-media-settings-menu-color);
}

absolute-position-behavior .setting {
  min-height: 42px;
  padding: 2px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

absolute-position-behavior simple-field-field {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  background-color: var(--a11y-media-settings-menu-bg-color);
  color: var(--a11y-media-settings-menu-color);
}

.setting-text {
  margin-right: 1em;
  font-family: var(--a11y-media-controls-font-family);
}

.setting-control {
  max-width: 110px;
}

.setting-slider {
  flex: 0 0 110px;
  margin-left: -15px;
  margin-right: -15px;
}

#loop {
  flex: 0 0 40px;
}

#loop-label {
  flex: 1 1 auto;
}

.play-status {
  border: none;
  position: relative;
  font-size: 85%;
  font-family: var(--a11y-media-controls-font-family);
}

.play-status.control-bar {
  padding: 8px 13px 8px;
}

:host([hide-play-status]) .play-status {
  display: none;
}

#volume-and-mute {
  display: inline-block;
  position: relative;
}

#volume {
  position: absolute;
  left: 30px;
  top: 0px;
  width: 0;
  height: 40px;
  overflow: hidden;
  transition: width 0.5s;
  z-index: 3;
  border-radius: 4px;
  background-color: var(--a11y-media-bg-color);
}

#volume:active,
#volume:focus,
#volume:hover,
#volume.focus,
#volume-and-mute:active #volume,
#volume-and-mute:focus #volume,
#volume-and-mute:hover #volume {
  overflow: visible;
  width: 100px;
}

:host([responsive-size="xs"]) #volume:active,
:host([responsive-size="xs"]) #volume:focus,
:host([responsive-size="xs"]) #volume:hover,
:host([responsive-size="xs"]) #volume.focus,
:host([responsive-size="xs"]) #volume-and-mute:active #volume,
:host([responsive-size="xs"]) #volume-and-mute:focus #volume,
:host([responsive-size="xs"]) #volume-and-mute:hover #volume,
:host([width]) #volume:active,
:host([width]) #volume:focus,
:host([width]) #volume:hover,
:host([width]) #volume.focus,
:host([width]) #volume-and-mute:active #volume,
:host([width]) #volume-and-mute:focus #volume,
:host([width]) #volume-and-mute:hover #volume {
  top: 0px;
}

#print-thumbnail {
  width: 100%;
  margin: 0;
  display: block;
  border-top: 1px solid #aaaaaa;
}

.media-caption:not(:empty) {
  width: calc(100% - 30px);
  padding: 5px 15px;
}

.media-type {
  font-style: italic;
}

#searchbar {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 44px;
  max-height: 44px;
  min-height: 44px;
  width: 100%;
  color: var(--a11y-media-color);
  background-color: var(--a11y-media-transcript-bg-color);
  --simple-fields-color: var(--a11y-media-color);
  --a11y-media-button-bg-color: var(--a11y-media-transcript-bg-color);
  --a11y-media-button-hover-bg-color: var(--a11y-media-transcript-bg-color);
  --simple-search-input-background-color: var(--a11y-media-transcript-bg-color);
  --simple-search-input-text-color: var(--a11y-media-color);
  --simple-search-input-line-color: var(--a11y-media-accent-color);
  --simple-search-input-placeholder-color: var(
  --a11y-media-color
);
  --simple-search-button-color: var(--a11y-media-accent-color);
  --simple-search-button-hover-color: var(
  --a11y-media-faded-accent-color
);
  --simple-search-button-bg-color: var(--a11y-media-transcript-bg-color);
  --simple-search-button-border-color: var(--a11y-media-transcript-bg-color);
  --simple-search-button-hover-border-color: var(--a11y-media-transcript-bg-color);
  --simple-search-button-disabled-color: var(
  --a11y-media-disabled-color
);
  --simple-search-button-disabled-bg-color: var(--a11y-media-transcript-bg-color);
  --simple-search-button-disabled-border-color: var(
  --a11y-media-border-color
);
  --simple-search-padding: 0 15px;
}

:host([dark]) #searchbar {
  background-color: var(--a11y-media-bg-color);
  --a11y-media-button-bg-color: var(--a11y-media-bg-color);
  --a11y-media-button-hover-bg-color: var(--a11y-media-bg-color);
  --simple-search-input-background-color: var(--a11y-media-bg-color);
  --simple-search-button-bg-color: var(--a11y-media-bg-color);
  --simple-search-button-border-color: var(--a11y-media-bg-color);
  --simple-search-button-hover-border-color: var(--a11y-media-bg-color);
  --simple-search-button-disabled-bg-color: var(--a11y-media-bg-color);
}

#searching {
  flex-grow: 2;
}

#autoscroll {
  padding-right: 8px;
}

#scrolling,
#printing {
  display: flex;
  align-items: center;
}

#transcript-section {
  padding: 0 1px 0 0;
}

#transcript-and-controls {
  flex: 1 0 194px;
}

#transcript {
  flex: 1 0 150px;
  max-height: var(--a11y-media-transcript-max-height,unset);
  overflow-y: scroll;
  color: var(--a11y-media-transcript-cue-color);
  background-color: var(--a11y-media-transcript-cue-bg-color);
  border-left: 1px solid var(--a11y-media-transcript-bg-color);
}

#transcript::-webkit-scrollbar-track {
  background-color: var(--a11y-media-transcript-cue-bg-color);
}

#transcript::-webkit-scrollbar-thumb {
  background-color: var(--a11y-media-transcript-cue-color);
}

.transcript-from-track {
  display: table;
  width: calc(100% - 30px);
  padding: 0 15px 15px;
  color: var(--a11y-media-transcript-cue-color);
  background-color: var(--a11y-media-transcript-cue-bg-color);
  font-size: var(--a11y-media-transcript-cue-font-size, 14px);
  line-height: var(--a11y-media-transcript-cue-line-height, 28px);
}

.transcript-from-track[hideTimestamps] {
  display: block;
}

.sr-only {
  position: absolute;
  left: -9999px;
  font-size: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}

absolute-position-behavior:not(:defined), 
simple-tooltip:not(:defined) {
  display: none;
}

::slotted(iframe) {
  display: none; 
}
@media screen {
  :host([full-flex]) {
    flex-flow: row;
    padding: 0;
  }

  :host([full-flex]) #player-section {
    max-width: 50%;
    flex: 1 0 auto;
  }

  :host([full-flex]) #transcript-section {
    min-width: 50%;
    flex: 0 1 auto;
  }

  :host([full-flex]) #transcript {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
  }

  #transcript-and-controls {
    position: relative;
  }

  :host([sticky-mode]) #player-section {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 200px;
    max-width: 200px;
    z-index: 999999;
    border: 1px solid var(--a11y-media-bg-color);
    box-shadow: 1px 1px 20px 1px rgba(125, 125, 125);
    border-radius: 3.2px;
  }

  :host([fullscreen]) #player-section {
    width: 100%;
    height: 100vh;
    max-width: 100vw;
    position: absolute;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 100000;
    transition: all 0.5s;
  }

  :host([dark][sticky-mode]) #player-section {
    border: 1px solid var(--a11y-media-bg-color);
  }

  :host([sticky][sticky-corner="top-left"]) #player-section {
    right: unset;
    left: 5px;
  }

  :host(:not([no-height]):not([stacked-layout]):not([responsive-size="xs"]):not([responsive-size="sm"]))
  #player-and-controls.totop {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px !important;
    z-index: 9999;
  }

  :host([sticky][sticky-corner="bottom-left"]) #player-and-controls {
    top: unset;
    right: unset;
    bottom: 5px;
  }

  :host([sticky][sticky-corner="bottom-right"]) #player-and-controls {
    top: unset;
    bottom: 5px;
  }

  :host([sticky-mode]) .screen-only.media-caption,
  :host([responsive-size="xs"]) .screen-only.media-caption {
    display: none;
  }

  :host([sticky-mode]) #player-and-controls[audio-no-thumb] {
    max-height: 0px;
    overflow: hidden;
  }

  :host([sticky-mode]) .hide-sticky,
  :host([sticky-mode]) .hide-full-xs,
  :host([sticky-mode]) .hide-full-sm,
  :host([sticky-mode]) .hide-flex,
  :host([width]) .hide-full-xs,
  :host([width]) .hide-full-sm,
  :host([width]) .hide-full-flex,
  :host([responsive-size="xs"]) .hide-full-xs,
  :host([responsive-size="xs"]) .hide-full-sm,
  :host([responsive-size="xs"]) .hide-full-flex,
  :host([responsive-size="sm"]) .hide-full-sm,
  :host([responsive-size="sm"]) .hide-full-flex,
  :host([flex-layout]) .hide-flex {
    display: none;
  }

  :host([responsive-size="xl"]) #cc-custom {
    font-size: 16px;
  }

  :host([responsive-size="lg"]) #cc-custom,
  :host([flex-layout][responsive-size="xl"]) #cc-custom {
    font-size: 14px;
  }

  :host([responsive-size="md"]) #cc-custom,
  :host([flex-layout][responsive-size="lg"]) #cc-custom {
    font-size: 12px;
  }

  :host([responsive-size="xs"]) #cc-custom,
  :host([width]) #cc-custom,
  :host([flex-layout][responsive-size="md"]) #cc-custom,
  :host([flex-layout][responsive-size="sm"]) #cc-custom {
    font-size: 10px;
  }

  :host([sticky-mode]) #cc-custom,
  :host([flex-layout][width]) #cc-custom,
  :host([flex-layout][responsive-size="xs"]) #cc-custom {
    display: none;
  }

  .media-caption {
    color: var(--a11y-media-bg-color);
    background-color: var(--a11y-media-accent-color);
  }

  #audio-only {
    text-align: center;
    font-style: italic;
    width: 100%;
    line-height: 160%;
  }

  #print-thumbnail,
  .print-only {
    width: 0;
    display: none;
  }
}

@media print {
  :host,
  :host([dark]) {
    outline: 1px solid #aaaaaa;
    background-color: #ffffff;
  }

  .screen-only,
  #searchbar,
  #print-thumbnail:not([src]),
  :host(:not([thumbnail-src])) #player {
    display: none;
  }

  .media-caption {
    background-color: #cccccc;
    color: #000000;
    font-size: 120%;
  }

  #transcript {
    padding: 0 15px 5px;
    color: #000;
    background-color: #ffffff;
    border-top: 1px solid #aaa;
  }
}