# Global ownership
# Bryan Ollendyke (btopro) is the primary maintainer and creator of HAXTheWeb
* @btopro

# HAXTheWeb ecosystem is developed and maintained by:
# Bryan Ollendyke (@btopro) - Penn State University
# Copyright (c) 2015-2025 The Pennsylvania State University