:host {
  display: block;
  --retro-card-level-2 : var(--simple-colors-default-theme-accent-7, #b8a515);
  --retro-card-level-1 : var(--simple-colors-default-theme-accent-6, #e5cd1b);
  --retro-card-level-3 : var(--simple-colors-default-theme-accent-5, #ead749);
  --retro-card-shadow: var(--simple-colors-default-theme-accent-8, rgba(229,205,27,0.2));
  --retro-card-light-color: #F4F1D0;
  --retro-card-dark-color: #212121;
}

:host([dark]) {
  --retro-card-dark-color: #F4F1D0;
  --retro-card-light-color: #212121;
}

:host([hidden]) {
  display: none;
}

:host([hover-state])
.link:nth-child(1n+0) {
  box-shadow: 16px 16px 0px 0px var(--retro-card-shadow);
  border: 16px solid var(--retro-card-level-2);
  background-color: var(--retro-card-level-1);
}

:host([hover-state]) .link {
  color: var(--retro-card-light-color);
  text-decoration: underline;
  padding: 1.25rem;
  border: 16px var(--retro-card-level-1) solid;
  box-shadow: 16px 16px 0px 0px var(--retro-card-shadow);
  transition: background-color 0.2s ease-in-out 0s,padding 0.4s ease-in-out 0s,border 0.4s ease-in-out 0s,box-shadow 0.2s ease-in-out 0s;
}

.link:nth-child(1n+0) {
  background-color: var(--retro-card-level-3);
  box-shadow: 8px 8px 0px 0px var(--retro-card-level-1);
  border: 4px var(--retro-card-level-1) solid;
}

.link {
  display: block;
  background-color: var(--retro-card-level-3);
  border: 4px var(--retro-card-level-1) solid;
  padding: 2rem;
  box-shadow: 8px 8px 0px 0px var(--retro-card-level-1);
  transition: padding 0.4s ease-in-out 0s,border 0.4s ease-in-out 0s,box-shadow 0.2s ease-in-out 0s;
}

.img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  mix-blend-mode: screen;
  border: 0;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
  max-height: 200px;
}

.title {
  display: block;
  font-size: 1.5rem;
  padding: 2rem 0 0 0;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.description {
  display: block;
  font-size: 0.9rem;
  padding: 0.75rem 1rem 0;
}

.card-tags {
  line-height: 1.6;
  text-align: center;
  margin-bottom: 1rem;
  text-rendering: optimizeLegibility;
  font-weight: 300;
}

.project-tag {
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  font-style: italic;
  font-weight: 600;
  color: var(--retro-card-light-color);
  background: var(--retro-card-dark-color);
  word-wrap: break-word;
  padding: 0 0.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin: 0 0.25rem 2rem 0;
}

hr {
  border-bottom: 1px solid var(--retro-card-dark-color);
  max-width: 75rem;
  height: 0;
  border-right: 0;
  border-top: 0;
  border-left: 0;
  margin: 1.25rem auto;
  clear: both;
}

a {
  text-align: center;
  color: var(--retro-card-dark-color);
  text-decoration: none;
  line-height: inherit;
  cursor: pointer;
  font-family: "Roboto Mono", Consolas, Monospace;
}