:host([hidden]) {
  display: none;
}
:host {
  display: block;
  min-height: 20px;
  cursor: pointer;
  @apply --rich-text-editor-content;
}
:host([contenteditable="true"]) {
  border: var(--rich-text-editor-border);
  overflow: auto;
  @apply --rich-text-editor-content-edit;
}
:host(.heightmax[contenteditable="true"]) {
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  @apply --rich-text-editor-heightmax;
}
:host(:empty) {
  border: 1px dashed var(--rich-text-editor-border-color);
  @apply --rich-text-editor-empty;
}
:host(:not([contenteditable="true"]):empty):before {
  content: attr(placeholder);
  padding: 0 5px;
  display: block;
  color: var(--rich-text-editor-button-disabled-color);
  @apply --rich-text-editor-empty-placeholder;
}
:host([contenteditable="true"]:empty):before {
  @apply --rich-text-editor-empty-editable;
}