:host,
details {
  display: inline-flex;
  overflow: visible;
}

:host([hidden]) {
  display: none !important;
}

summary {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--a11y-details-summary-fontSize, 0.8em);
  color: var(--a11y-details-summary-color, #000);
  background-color: var(--a11y-details-summary-backgroundColor, #fff);
  border-color: var(--a11y-details-summary-borderColor, #ddd);
  border-width: var(--a11y-details-summary-borderWidth, 1px);
  border-style: var(--a11y-details-summary-borderStyle, solid);
  border-radius: var(--a11y-details-summary-borderRadius, 3px);
  padding: var(--a11y-details-summary-padding, 0.5em);
}

summary:focus {
  outline: var(--a11y-details-summary-focus-outline,1px solid #006688);
  color: var(--a11y-details-summary-focus-color, var(--a11y-details-summary-color,#000));
  background-color: var(--a11y-details-summary-focus-backgroundColor, var(--a11y-details-summary-backgroundColor,#fff));
  border-color: var(--a11y-details-summary-focus-borderColor, var(--a11y-details-borderColor,#999));
  border-width: var(--a11y-details-summary-focus-borderWidth, var(--a11y-details-summary-borderWidth,1px));
  border-style: var(--a11y-details-summary-focus-borderStyle, var(--a11y-details-summary-borderStyle, dotted));
  border-radius: var(--a11y-details-summary-focus-borderRadius, var(--a11y-details-summary-borderRadius, 3px));
}

#details-inner {
  position: absolute;
  display: none;
  max-height: 0px;
  transition: all 0.7s ease-in-out 0.2s;
  overflow-y: auto;
  padding: 0;
  font-size: var(--a11y-details-fontSize, 0.8em);
  color: var(--a11y-details-color,#000);
  background-color: var(--a11y-details-backgroundColor, rgba(255,255,255,0.8));
  border-color: var(--a11y-details-borderColor,#999);
  border-width: var(--a11y-details-borderWidth,1px);
  border-style: var(--a11y-details-borderStyle, solid);
  border-radius: var(--a11y-details-borderRadius, 3px);
}

::slotted(*:not[slot=summary]) {
  display: none;
}

.close-text,
details[open] .open-text,
details:not([open]) .has-open-text,
details[open] .has-close-text {
  display: none;
}

details[open] .close-text {
  display: inline;
}

::slotted([slot="details"]) {
  display: block;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 0.7s ease-in-out 0.2s;
}

details[open] ::slotted([slot="details"]) {
  max-height: var(--a11y-details-maxHeight,400px);
  transition: all 0.7s ease-in-out 0.2s;
}

details[open] #details-inner {
  z-index: 9999999999;
  display: block;
  left: var(--a11y-details-left, unset);
  right: var(--a11y-details-right, unset);
  padding: var(--a11y-details-padding, 0.5em);
  max-height: var(--a11y-details-maxHeight,400px);
  padding: var(--a11y-details-padding, 0.5em);
  width: calc(auto - 2 * var(--a11y-details-padding, 0.5em));
  transition: all 0.7s ease-in-out 0.2s;
}