:host {
  display: inline-flex;
  --count-up-color: #000000;
}

:host([hidden]) {
  display: none;
}

.wrapper {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
}

#counter {
  color: var(--count-up-color);
  @apply --count-up-number;
}
