:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

paper-dialog-scrollable:not(:defined) {
  display: none;
}

:host paper-dialog ::slotted(*) {
  font-size: 14px;
  @apply --simple-modal-content;
}

#dialog {
  margin: 15px auto;
  z-index: 1000;
  height: var(--simple-modal-height, auto);
  width: var(--simple-modal-width, auto);
  min-width: var(--simple-modal-min-width, unset);
  max-width: var(--simple-modal-max-width, unset);
  min-height: var(--simple-modal-min-height, unset);
  max-height: var(--simple-modal-max-height, unset);
  border-radius: 3px;
  @apply --simple-modal-dialog;
}

#titlebar {
  margin-top: 0;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--simple-modal-titlebar-color,#444);
  background-color: var(--simple-modal-titlebar-background,#ddd);
  border-radius: 3px 3px 0 0;
  @apply --simple-modal-top;
}

#headerbar {
  margin: 0;
  padding: 0 16px;
  color: var(--simple-modal-header-color, #222);
  background-color: var(--simple-modal-header-background, #ccc);
  @apply --simple-modal-headerbar;
}

h2 {
  margin-right: 8px;
  padding: 0;
  flex: auto;
  font-size: 18px;
  line-height: 18px;
  @apply --simple-modal-title;
}

#close {
  top: 0;
  padding: 10px 0;
  min-width: unset;
  text-transform: none;
  color: var(--simple-modal-titlebar-color,#444);
  background-color: transparent;
  @apply --simple-modal-close;
}

#close iron-icon {
  width: 16px;
  height: 16px;
  color: var(--simple-modal-titlebar-color,#444);
  @apply --simple-modal-close-icon;
}

#simple-modal-content {
  padding: 8px 16px;
  margin: 0;
  color: var(--simple-modal-content-container-color, #222);
  background-color: var(--simple-modal-content-container-background, #fff);
  --paper-dialog-scrollable: {
    padding: 0;
  }
  @apply --simple-modal-content-container;
}
.buttons {
  padding: 0;
  margin: 0;
  color: var(--simple-modal-buttons-color, unset);
  background-color: var(--simple-modal-buttons-background,unset);
  @apply --simple-modal-buttons;
}
.buttons ::slotted(*) {
  padding: 0;
  margin: 0;
  color: var(--simple-modal-button-color,--simple-modal-buttons-color);
  background-color: var(--simple-modal-button-background,--simple-modal-buttons-background);
  @apply --simple-modal-button;
}