:host {
  display: block;
}

:host([hidden]),
[hidden] {
  display: none;
}

pre {
  margin: 0;
}

pre, code {
  font-family: var(--code-sample-font-family, Operator Mono, Inconsolata, Roboto Mono, monaco, consolas, monospace);
  font-size: var(--code-sample-font-size, 0.875rem);
}

.hljs {
  padding: 0 1.25rem;
  line-height: var(--code-sample-line-height, 1.3);
}

.demo:not(:empty) {
  padding: var(--code-sample-demo-padding, 0 0 1.25rem);
}

#code-container {
  position: relative;
}

button {
  background: var(--code-sample-copy-button-bg-color, #e0e0e0);
  border: none;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  text-transform: uppercase;
}