:host {
  display: block;
}
:host([hidden]) {
  display: none;
}
:host #toolbar {
  width: 100%;
  display: flex;
  opacity: 1;
  z-index: 1;
  margin: 0;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: var(--extensible-toolbar-bg);
  border: var(--extensible-toolbar-border);
  font-size: 12px;
  transition: all 0.5s;
  @apply --extensible-toolbar;
}
:host #toolbar[aria-hidden] {
  visibility: hidden;
  opacity: 0;
  height: 0;
}
:host #toolbar .toolbar-group {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 3px;
  @apply --extensible-toolbar-group;
}
:host #toolbar .toolbar-group:not(:last-of-type) {
  margin-right: 3px;
  border-right: var(--extensible-toolbar-border);
  @apply --extensible-toolbar-divider;
}
:host #toolbar .button {
  display: flex;
  flex: 0 0 auto;
  align-items: stretch;
}
:host #toolbar #morebutton {
  flex: 1 0 auto;
  justify-content: flex-end;
}
/* hide the more button if all the buttons are displayed */
:host([responsive-size="xs"]) #morebutton[collapse-max="xs"],
:host([responsive-size="sm"]) #morebutton[collapse-max*="s"],
:host([responsive-size="md"]) #morebutton:not([collapse-max*="l"]),
:host([responsive-size="lg"]) #morebutton:not([collapse-max="xl"]),
:host([responsive-size="xl"]) #morebutton,
/* hide the buttons if they should be collaped until */
:host([responsive-size="xs"]) #toolbar:not([aria-expanded]) *[collapsed-until*="m"],
:host([responsive-size="xs"]) #toolbar:not([aria-expanded]) *[collapsed-until*="l"],
:host([responsive-size="sm"]) #toolbar:not([aria-expanded]) *[collapsed-until="md"],
:host([responsive-size="sm"]) #toolbar:not([aria-expanded]) *[collapsed-until*="l"],
:host([responsive-size="md"]) #toolbar:not([aria-expanded]) *[collapsed-until*="l"],
:host([responsive-size="lg"]) #toolbar:not([aria-expanded]) *[collapsed-until="xl"] {
  display: none;
}