:host {
  display: block;
  font-family: 'Noto Serif', serif;
}

:host([hidden]) {
  display: none;
}

.button-wrapper {
  line-height: 36px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  display: block;
  justify-content: space-evenly;
}
@media (max-width: 1000px) {
  button span {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -9999px;
  }
}

button {
  height: 32px;
  font-size: 10px;
  margin: 0;
  padding: 0 8px;
}

button span {
  padding-left: 4px;
  pointer-events: none;
}

#outline {
  margin: 0;
}

ul {
  font-size: 16px;
  line-height: 32px;
  padding-left: 32px;
  visibility: visible;
  opacity: 1;
  overflow: hidden;
  height: auto;
  transition: .2s ease-in-out all;
}

li {
  font-size: 16px;
  line-height: 32px;
  padding: 4px;
  transition: .2s linear all;
}

ul:hover {
  outline: 1px solid #EEEEEE;
}

li.collapsed-title {
  background-color: #dddddd;
}

li.collapsed-title:after {
  content: "    ( Double-click to expand )";
}

li:after {
  transition: .4s ease-in-out all;
  opacity: 0;
  font-size: 11px;
  visibility: hidden;
}

li.collapsed-title:hover:after {
  font-style: italic;
  opacity: 1;
  visibility: visible;
}

ul.collapsed-content {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

li:focus,
li:active,
li:hover {
  background-color: #EEEEEE;
  outline: 1px solid #CCCCCC;
}

simple-icon {
  pointer-events: none;
}

li[data-jos-published="false"] {
  text-decoration: line-through;
}