:host {
  display: inline-block;
  position: relative;
  @apply --simple-picker;
}
:host, 
:host #sample, 
:host .rows {
  margin: 0;
  padding: 0;
}

:host[disabled] {
  cursor: not-allowed;
}

:host([hidden]) {
  display: none;
}
:host #sample {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  border-radius: 2px;
  background-color: var(--simple-picker-background-color,#ddd);
  border: 1px solid var(--simple-picker-border-color,black);
}

:host #sample simple-color-picker-swatch {
  border-radius: 4px;
  border: 1px solid var(--simple-picker-border-color,black);
}

:host(:not([expanded])) #icon {
  transform: rotate(-90deg);
  transition: transform 0.25s;
}

:host([expanded]:not[disabled]) #collapse {
  position: absolute;
  top: calc(var(--simple-picker-swatch-size, 20px)+12px);
  background-color: var(--simple-picker-background-color,#ddd);
  transition: max-height 0.75s, overflow 0.75s, height 0.75s;
  transition-delay: 0.25s;
}

:host([expanded]) #collapse,
:host([expanded]) .rows {
  max-height: unset;
  overflow: visible;
}
:host([expanded]) .rows {
  outline: 1px solid var(--simple-picker-border-color,black);
}

:host #collapse,
:host([disabled]) #collapse,
:host .rows,
:host([disabled]) .rows {
  max-height: 0;
  overflow: hidden;
}

:host .rows {
  position: absolute;
  z-index: 1000;
}

:host .row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

:host simple-picker-option {
  min-width: var(--simple-picker-swatch-size, 20px);
  height: var(--simple-picker-swatch-size, 20px);
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: 1px solid rgba(0,0,0,0);
  box-sizing: content-box;
  @apply --simple-picker-option;
}
:host simple-picker-option[active] {
  cursor: pointer;
  border: 1px solid var(--simple-picker-active-border-color, blue);
  @apply --simple-picker-option-active;
}
:host simple-picker-option[selected] {
  border: 1px solid var(--simple-picker-selected-border-color, black);
  @apply --simple-picker-option-selected;
}
@media screen and (max-width: 600px) {
  :host {
    position: static;
  }
  :host #collapse {
    top: 0;
    margin-top: 0;
    position: relative;
  } 
  :host .rows {
    position: sticky;
  }  
}
