:host {
  display: inline-flex;
  align-items: center;
  color: var(--simple-picker-color, black);
  font-family: var(--simple-picker-font-family, inherit);
  font-size: var(--simple-picker-font-size, inherit);
  max-height: calc(var(--simple-picker-option-size, 24px) + 18px);
  @apply --simple-picker;
}
:host div {
  margin: unset;
  padding: unset;
}

:host([block-label]) {
  display: block;
  margin: 0 0 15px;
  max-height: unset;
}

:host([disabled]) {
  cursor: not-allowed;
}

:host([hidden]) {
  display: none;
}

:host label:not([hidden]) {
  padding-right: 5px;
  font-family: var(--simple-picker-font-family, inherit);
  color: var(--simple-picker-label-color, var(--simple-picker-color, black));
  max-height: calc(var(--simple-picker-option-size, 24px) + 4px);
  @apply --simple-picker-label;
}

:host([block-label]) label:not([hidden]) {
  display: block;
  padding-right: 0px;
  color: var(--simple-picker-float-label-color, #888);
  transition: all 0.5s;
  max-height: unset;
}

:host([block-label]:focus) label,
:host([block-label]:hover) label {
  color: var(--simple-picker-float-label-active-color, var(--simple-picker-color, black));
}

:host #sample, 
:host .rows {
  margin: 0;
  padding: 0;
}

:host #listbox {
  cursor: pointer;
  display: flex;
  position: relative;
  flex: 1 0 auto;
  max-height: calc(var(--simple-picker-option-size, 24px) + 4px);
}

:host #sample {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  border-radius: 2px;
  background-color: var(--simple-picker-background-color,#f0f0f0);
  border: 1px solid var(--simple-picker-border-color, var(--simple-picker-color, black));
  @apply --simple-picker-sample;
}
:host(:focus) #sample,
:host #listbox:focus #sample,
:host #sample:focus {
  border: 2px solid var(--simple-picker-focus-border-color, var(--simple-picker-color, black));
  @apply --simple-picker-sample-focus;
}

:host #listbox:focus {
  outline: none;
}

:host #icon {
  transform: var(--simple-picker-icon-tranform, rotate(0deg));
  transition: transform 0.25s;
}

:host([expanded]) #icon {
  transform: var(--simple-picker-expanded-icon-tranform, rotate(0deg));
  transition: transform 0.25s;
}

:host #collapse {
  display: none;
  width: 100%;
  position: absolute;
  top: calc(var(--simple-picker-option-size, 24px) + 4px);
  padding: 0 1px;
  z-index: 2;
  @apply --simple-picker-collapse;
}

:host([expanded]:not([disabled])) #collapse {
  display: block;
} 

:host .rows {
  display: block;
  position: absolute;
  z-index: 1000;
  outline: 1px solid var(--simple-picker-border-color, var(--simple-picker-color, black));;
  background-color: var(--simple-picker-background-color,#f0f0f0);
  box-shadow: 0px 0px 1px #888;
  @apply --simple-picker-rows;
}

:host .row {
  display: flex; 
  align-items: stretch;
  justify-content: space-between;
  @apply --simple-picker-row;
}

:host simple-picker-option {
  z-index: 1;
  flex: 1 1 auto;
  justify-content: flex-start;
  max-height: unset;
  min-height: var(--simple-picker-option-size, 24px);
  min-width: var(--simple-picker-option-size, 24px);
  line-height: var(--simple-picker-option-size, 24px);
  color: var(--simple-picker-color);
  background-color: var(--simple-picker-option-background-color, #ffffff);
  outline: var(--simple-picker-option-outline, none);
  transition: max-height 2s;
  @apply --simple-picker-option;
}

:host(:not([value])) #sample simple-picker-option,
:host([value="null"]) #sample simple-picker-option {
  @apply --simple-picker-sample-null;
  --simple-picker-option-label: {
    @apply --simple-picker-sample-null-label;
  };
}

:host simple-picker-option[selected] {
  z-index: 50;
  color: var(--simple-picker-color);
  background-color: var(--simple-picker-selected-option-background-color, #e8e8e8);
  outline: var(--simple-picker-selected-option-outline, none);
}

:host simple-picker-option[active] {
  z-index: 100;
  cursor: pointer;
  color: var(--simple-picker-color);
  background-color: var(--simple-picker-active-option-background-color, #aaddff);
  outline: var(--simple-picker-active-option-outline, none);
}

:host #sample simple-picker-option {
  color: var(--simple-picker-sample-color,  var(--simple-picker-color));
  background-color: var(--simple-picker-sample-background-color, transparent);
  --simple-picker-option-padding: 2px 0;
  --simple-picker-option-label: {
    @apply --simple-picker-sample-label;
  }
  @apply --simple-picker-sample-option;
  border: none;
}

:host(:not([expanded])) #collapse simple-picker-option {
  max-height: 0;
  transition: max-height 1.5s;
}

:host #collapse simple-picker-option:not([value]),
:host #collapse simple-picker-option[value=null] {
  @apply --simple-picker-option-null;
}

@media screen and (max-width: 600px) {
  :host {
    position: static;
  }
  :host #collapse {
    top: 0;
    margin-top: 0;
    position: relative;
  } 
  :host .rows {
    position: sticky;
  }  
}
