:host {
  display: inline-block;
  margin: 0px 0.1em;
}

@keyframes flickerAnimation {
  0%   { opacity: 1; }

  50%  { opacity: 0; }

  100% { opacity: 1; }
}
@-o-keyframes flickerAnimation {
  0%   { opacity: 1; }

  50%  { opacity: 0; }

  100% { opacity: 1; }
}
@-moz-keyframes flickerAnimation {
  0%   { opacity: 1; }

  50%  { opacity: 0; }

  100% { opacity: 1; }
}
@-webkit-keyframes flickerAnimation {
  0%   { opacity: 1; }

  50%  { opacity: 0; }

  100% { opacity: 1; }
}
  
#cursor {
  display: none;
  opacity: 0;
}

:host([typing]) #cursor {
  display: inline;
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}
