:host {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  background-color: var(--simple-search-input-background-color, transparent);
}

#input {
  flex-grow: 2;
  margin-right: 4px;
  padding: var(--simple-search-padding, unset);
  margin: var(--simple-search-margin, unset);
  color: var(--simple-search-input-text-color, #000);
  --simple-fields-color: var(--simple-search-input-text-color, #000);
  --simple-fields-container-color: var(--simple-search-input-placeholder-color, #222);
  --simple-fields-background-color: var(--simple-fields-input-background-color, transparent);
  --simple-icon-color: var(--simple-search-input-placeholder-color, #222);
}

#xofy {
  margin: 8px;
}

button {
  margin: 8px 0 8px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--simple-search-button-border-color, #ccc);
  color: var(--simple-search-button-color, #111);
  background-color: var(--simple-search-button-bg-color, #eee);
  border-color: var(--simple-search-button-border-color, #ccc);
}

button:not([disabled]):focus,
button:not([disabled]):hover {
  cursor: pointer;
  color: var(--simple-search-button-hover-color, #000);
  background-color: var(--simple-search-button-hover-bg-color, #fff);
  border-color: var(--simple-search-button-hover-border-color, #ddd);
}

button[disabled] {
  cursor: not-allowed;
  color: var(--simple-search-button-disabled-color, #999);
  background-color: var(--simple-search-button-disabled-bg-color, #eee);
  border-color: var(--simple-search-button-disabled-border-color, #ccc);
}

button:not([controls]) {
  display: none;
}

#searchnav {
  flex: 1 0 auto;
}

#searchnav button {
  display: inline;
  flex: 1 0 auto;
}

*[shrink-hide] {
  display: none;
}