:host ul {
  list-style-type: none;
}
:host li {
  display: inline-block;
  width: 10em;
  margin: 1em 0.5em;
  text-align: center;
}
:host #icon > div {
  text-align: center;
}
:host iron-icon {
  font-size: 14px;
  color: rgb(97,97,97);
  display: inline-block;
}
:host #icon-text {
  margin-top: 0.5em;
  font-size: 10px;
  color: black;
}
:host .code-container {
  margin: 0;
  background-color: var(--google-grey-100,#f5f5f5);
  border-top: 1px solid #e0e0e0;
}
:host code {
  padding: 20px 40px;
  display: block;
  margin: 0;
  font-size: 13px;
}
:host .tag {
  color: #905;
}
:host .attr-name {
  color: #690;
}
:host .attr-value {
  color: #07a;
}