<!-- @dsCard group="Learning" height=658 subtitle="&lt;course-design&gt;" -->
<learning-component data-primary="20" subtitle="Step 2: Interview potential customers" accent-color="orange" title="Learning Objectives" icon="courseicons:learning-objectives">
  <p>This step includes three parts:</p>
  <ul><li><a href="#">Part 1: Figure out what to ask</a></li><li><a href="#">Part 2: Find people to interview</a></li><li><a href="#">Part 3: Conduct interviews</a></li></ul>
</learning-component>
<block-quote citation="Albert Einstein" image="../../runtime/media/headshot.jpg"><span slot="quote">If a person falls freely, he will not feel his own weight.</span></block-quote>
