/* 
  LIST SHARED STYLES BELOW
*/
@import "../lib/chartist/dist/scss/chartist.scss";
:host {
  display: block;
}

.a11y {
  position: absolute;
  left: -999999px;
  height: 0;
  overflow: hidden;
}

$ct-text-color: var(--chartist-text-color, #{$ct-text-color});
$ct-grid-color: var(--chartist-grid-color, #{$ct-grid-color});
$ct-text-size: var(--chartist-text-size, #{$ct-text-size});
$ct-text-line-height: var(--chartist-line-height, #{$ct-text-line-height});

@mixin ct-chart2($ct-container-ratio: $ct-container-ratio, $ct-text-color: $ct-text-color, $ct-text-size: $ct-text-size, $ct-grid-color: $ct-grid-color, $ct-grid-width: $ct-grid-width, $ct-grid-dasharray: $ct-grid-dasharray, $ct-point-size: $ct-point-size, $ct-point-shape: $ct-point-shape, $ct-line-width: $ct-line-width, $ct-bar-width: $ct-bar-width, $ct-donut-width: $ct-donut-width, $ct-series-names: $ct-series-names, $ct-series-colors: $ct-series-colors) {

  .#{$ct-class-label} {
    @include ct-chart-label($ct-text-color, $ct-text-size);
  }
  .#{$ct-class-grid} {
    @include ct-chart-grid($ct-grid-color, $ct-grid-width, $ct-grid-dasharray);
  }

  @if $ct-include-colored-series {
    @for $i from 0 to length($ct-series-names) {
      .#{$ct-class-series}-#{nth($ct-series-names, $i + 1)} {
        $color: var(--chartist-color-#{$i + 1}, nth($ct-series-colors, $i + 1));

        @include ct-chart-series-color($color);
      }
    }
  }
}
@include ct-chart2();

