:host {
  display: inline-flex;
  --simple-picker-option-size: 24px;
  --simple-picker-collapse: {
    width: 360px;
    height: 300px;
    max-height: 300px;
    overflow: scroll;
  }
  --simple-picker-row: {
    justify-content: flex-start;
  }
  --simple-picker-option: {
    flex: 0 0 auto;
  }
}

:host([hidden]) {
  display: none;
}
