:host {
  display: inline-flex;
  --simple-blog-card-author-link: #03a87c;
}

:host([hidden]) {
  display: none;
}

:host *[hidden] {
  display: none;
}

simple-popover {
  position: absolute;
  display: flex;
}

div.card {
  height: auto !important;
  overflow: hidden;
}

img {
  max-height: 200px;
}

.card-content a{
  display: block;
}

.card-micro {
  width: 100px;
  --simple-blog-card-heading-font-size: 16px;
  --simple-blog-card-content-font-size: 14px;
}

.card-small {
  width: 200px;
  --simple-blog-card-heading-font-size: 16px;
}

.card-medium {
  width: 300px;
}

.card-large {
  width: 400px;
}

.card-xlarge {
  width: 600px;
}

a {
  text-decoration: none;
}

.teaser {
  overflow: hidden;
}

.teaser,
.teaser ::slotted(*) {
  font-size: var(--simple-blog-card-content-font-size, 18px);
  word-break: all;
  line-height: 1.2;
  text-overflow: ellipsis;
}

.card-content {
  height: 120px;
  padding: 0;
  overflow: hidden;
}

.card-micro {
  height: 50px;
}

.card-small {
  height: 100px;
}

.card-medium {
  height: 150px;
}

.card-large {
  height: 200px;
}

.card-micro .card-content {
  height: 50px;
}

.card-small .card-content {
  height: 50px;
}

.card-medium .card-content {
  height: 125px;
}

.card-large .card-content {
  height: 150px;
}

div.card h3 {
  font-size: var(--simple-blog-card-heading-font-size, 22px);
  color: var(--simple-blog-card-header, black);
  text-decoration: none;
  padding: 0;
  margin: 8px 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
  Geneva, Arial, sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

paper-avatar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: inline-block;
}

.reading-time:after {
  content: attr(title);
}

.author-block {
  display: flex;
  align-items: center;
}

.author-info {
  font-size: 14px;
  padding-left: 10px;
  text-rendering: auto;
}

.author-info a {
  color: var(--simple-blog-card-author-link);
}

.post-details {
  font-size: 14px;
  color: var(--simple-blog-card-text, rgba(0, 0, 0, 0.54));
}

.post-details .dot {
  padding-right: 0.3em;
  padding-left: 0.3em;
}

.box {
  outline: 1px solid black;
}

simple-popover:not([for]) {
  display: none;
}