:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

app-toolbar {
  background-color: #4285f4;
  color: #fff;
  margin: 20px 0;
}

paper-progress {
  display: block;
  width: 100%;
  --paper-progress-active-color: rgba(255, 255, 255, 0.5);
  --paper-progress-container-color: transparent;
}