:host {
  display: block;
}

:host([hidden]) {
  display: none;
}
:host > * {
  margin: 0 auto;
}
:host #after {
  display: none;
}
:host #before {
  display: block;
}
:host([position="top"]) #after {
  display: block;
}
:host([position="top"]) #before {
  display: none;
}
:host([position="left"]) #before,
:host([position="left"]) #middle {
  display: inline-block;
}
:host([position="right"]) #before,
:host([position="right"]) #middle {
  display: inline-block;
}
:host #before, 
:host #after {
  width: 0;
  height: 0;
  border-style: solid;
}
:host #before {
  border-width: 0 10px 15px 10px;
  border-color: transparent transparent black;
}
:host([position="left"]) #after {
  border-width: 10px 0 10px 15px;
  border-color: transparent black transparent;
}

:host #after {
  border-width: 15px 10px 0 10px;
  border-color: black transparent transparent;
}

:host([position="right"]) #before {
  border-width: 10px 0105px 10px 0px;
  border-color: transparent black transparent;
}

:host #middle {
  padding: 5px;
  color: white;
  background-color: black;
  border-radius: 3px;
  min-height: 20px;
}
