:host {
  --simple-popover-border-radius: 3px;
  --simple-popover-color: #222;
  --simple-popover-padding: 10px;
  --simple-popover-background-color: white;
  --simple-popover-border-color: #bbb;
  --simple-popover-box-shadow:rgba(60, 64, 67, 0.3) 0px 4px 8px 3px;
}
:host([hidden]) {
  display: none;
}
:host > div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: stretch;
  z-index: 1;
}
:host([position="left"]) > div {
  justify-content: start;
  flex-direction: row;
}
:host([position="right"]) > div {
  justify-content: start;
  flex-direction: row-reverse;
}
:host([position="top"]) > div {
  flex-direction: column;
}
:host > div > * {
  width: 100%;
}
:host([position="left"]) > div > *, 
:host([position="right"]) > div > * {
  width: unset;
}
:host #content {
  margin: 0 auto;
  padding: var(--simple-popover-padding);
  color: var(--simple-popover-color);
  background-color: var(--simple-popover-background-color);
  border: 1px solid var(--simple-popover-border-color);
  min-height: 20px;
  border-radius: var(--simple-popover-border-radius);
  box-shadow: var(--simple-popover-box-shadow);
  @apply --simple-popover-content;
}
:host #pointer-outer {
  margin: -1px;
}
:host #pointer {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex: 0 0 20px;
}
:host #pointer:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--simple-popover-background-color);
  border: 1px solid var(--simple-popover-border-color);
  transform: rotate(45deg); 
  top: 15px;
  left: 5px;
}
:host([position="top"]) #pointer:after {
  top: -5px;
  left: 5px;
} 
:host([position="right"]) #pointer:after {
  top: 5px;
  left: 15px;
} 
:host([position="left"]) #pointer:after {
  top: 5px;
  left: -5px;
}