:host {
  display: block;
  --a11y-tabs-border-radius: 2px;
  --a11y-tabs-justify-tabs: flex-start;
  --ally-tabs-wrap: unset;
  --a11y-tabs-background: white;
  --a11y-tabs-border-color: #ddd;
  --a11y-tabs-color: #222;
  --a11y-tabs-focus-color: #000;
  --a11y-tabs-faded-background: #eee;
  --a11y-tabs-button-padding: 0.7em 0.57em;
  --a11y-tabs-vertical-button-padding: unset;
  --a11y-tabs-horizontal-border-radius: unset;
  --a11y-tabs-vertical-border-radius: unset;
  --a11y-tabs-horizontal-button-padding: 2px 5px;
}
:host([vertical]) {
  border-radius: var(--a11y-tabs-vertical-border-radius, var(--a11y-tabs-border-radius));
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  @apply --a11y-tabs-vertical;
}
:host(:not([vertical])) {
  @apply --a11y-tabs-horizontal;
}
:host([hidden]) {
  display: none;
}
:host #tabs {
  align-items: stretch;
  flex-wrap: var(--ally-tabs-wrap, unset);
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;
  @apply --a11y-tabs-tabs;
}
:host([vertical]) #tabs {
  justify-content: var(--a11y-tabs-vertical-justify-tabs, var(--a11y-tabs-justify-tabs, flex-start));
  flex-wrap: var(--ally-tabs-vertical-wrap, var(--ally-tabs-wrap, unset));
  flex: 0 1 auto;
  flex-direction: column;
  @apply --a11y-tabs-vertical-tabs;
}
:host(:not([vertical])) #tabs {
  justify-content: var(--a11y-tabs-horizontal-justify-tabs, var(--a11y-tabs-justify-tabs, flex-start));
  @apply --a11y-tabs-horizontal-tabs;
}
:host #tabs .flag-type {
  position: absolute;
  left: -99999px;
  height: 0; 
  overflow: hidden;
}
:host #content {
  background-color: var(--a11y-tabs-background, white);
  border: 1px solid var(--a11y-tabs-border-color, #ddd);
  @apply --a11y-tabs-content;
}
:host([vertical]) #content {
  flex: 1 0 auto;
  border-left: none;
  @apply --a11y-tabs-vertical-content;
}
:host(:not([vertical])) #content {
  border-radius: var(--a11y-tabs-horizontal-border-radius, var(--a11y-tabs-border-radius));
  margin-top: -1px;
  @apply --a11y-tabs-horizontal-content;
}
:host paper-button {
  margin: 0;
  text-transform: unset;
  color: var(--a11y-tabs-color, #222);
  background-color: var(--a11y-tabs-faded-background, #eee);
  border: 1px solid var(--a11y-tabs-border-color, #ddd);
  padding: var(--a11y-tabs-button-padding, 0.7em 0.57em);
  @apply --a11y-tabs-button;
}
:host([vertical]) paper-button {
  border-radius: 0; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: none;
  padding: var(--a11y-tabs-vertical-button-padding, var(--a11y-tabs-button-padding));
  @apply --a11y-tabs-vertical-button;
}
:host(:not([vertical])) paper-button {
  width: 100%;
  border-bottom: none;
  border-radius: 
    var(--a11y-tabs-horizontal-border-radius, var(--a11y-tabs-border-radius))
    var(--a11y-tabs-horizontal-border-radius, var(--a11y-tabs-border-radius))
    0 
    0; 
  padding: var(--a11y-tabs-horizontal-button-padding, var(--a11y-tabs-button-padding));
  @apply --a11y-tabs-horizontal-button;
}
:host paper-button:active,
:host paper-button:focus,
:host paper-button:hover {
  color: var(--a11y-tabs-focus-color, #000);
  background-color: var(--a11y-tabs-faded-background, #eee);
}
:host paper-button:focus {
  @apply --a11y-tabs-button-focus;
}
:host paper-button:active {
  @apply --a11y-tabs-button-active;
}
:host paper-button:hover {
  @apply --a11y-tabs-button-hover;
}
:host paper-button[disabled] {
  color: var(--a11y-tabs-focus-color, #000);
  background-color: var(--a11y-tabs-background, white);
  @apply --a11y-tabs-active-button;
}
:host([vertical]) paper-button[disabled] {
  border-right: 1px solid white;
  @apply --a11y-tabs-vertical-active-button;
}
:host(:not([vertical])) paper-button[disabled] {
  border-bottom: 1px solid var(--a11y-tabs-background, white);
  @apply --a11y-tabs-horizontal-active-button;
}
:host #tabs span.label,
:host #tabs .flag-icon {
  margin-right: 8px;
}
:host([icons-only]) #tabs paper-button {
  justify-content: center;
}
:host([icons-only]) #tabs span.label {
  display:none;
}
:host(:not([icons-only])) #tabs paper-tooltip {
  display:none;
}
:host #tabs paper-button[flag] {
  @apply --a11y-tab-flagged-tab;
}
:host #tabs .flag-icon {
  @apply --a11y-tab-flag-icon;
}
