:host {
  display: block;
  --a11y-tabs-width: 100%;
  --a11y-tabs-background: white;
  --a11y-tabs-border-color: #ddd;
  --a11y-tabs-color: #222;
  --a11y-tabs-focus-color: #000;
  --a11y-tabs-faded-background: #eee;
  --a11y-tabs-border-radius: 2px;
  --a11y-tabs-horizontal-border-radius: var(--a11y-tabs-border-radius);
  --a11y-tabs-vertical-border-radius: var(--a11y-tabs-border-radius);
  --a11y-tabs-content-background: var(--a11y-tabs-background);
  --a11y-tabs-content-padding: 16px;
  --a11y-tabs-button-padding: 0.7em 0.57em;
  --a11y-tabs-vertical-button-padding: unset;
  --a11y-tabs-horizontal-border-radius: unset;
  --a11y-tabs-vertical-border-radius: unset;
  --a11y-tabs-horizontal-button-padding: 2px 5px;
  --a11y-tabs-width: auto;
  height: var(--a11y-tabs-height);
  overflow: var(--a11y-tabs-overflow);
  font-size: var(--a11y-tabs-font-size, 12px);
}

:host([vertical]) {
  border: 1px solid var(--a11y-tabs-border-color);
  border-radius: var(--a11y-tabs-vertical-border-radius);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

:host([hidden]) {
  display: none;
}

:host #tabs {
  align-items: stretch;
  flex-wrap: var(--a11y-tabs-wrap, unset);
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;
  overflow: auto;
}

:host([vertical]) #tabs {
  border-left: none;
  flex: 0 0 auto;
  flex-direction: column;
  overflow-y: auto;
  background-color: var(--a11y-tabs-vertical-background);
  justify-content: var(--a11y-tabs-vertical-justify-tabs);
  flex-wrap: var(--a11y-tabs-vertical-wrap);
}

:host(:not([vertical])) #tabs {
  z-index: 1;
  max-width: 100%;
  overflow-x: auto;
  background-color: var(--a11y-tabs-horizontal-background);
  justify-content: var(--a11y-tabs-horizontal-justify-tabs);
}

:host([sticky]) #tabs {
  position: sticky;
}

:host([sticky][vertical]) #tabs {
  left: 0;
}

:host([sticky]:not([vertical])) #tabs {
  top: 0;
  background-color: var(--a11y-tabs-horizontal-sticky-background);
}

:host #tabs li {
  display: flex;
  align-items: stretch;
}

:host([vertical]) #tabs li {
  flex-direction: column;
}

:host #tabs .flag-type {
  position: absolute;
  left: -99999px;
  height: 0; 
  overflow: hidden;
}

:host #content {
  padding: var(--a11y-tabs-content-padding);
  background-color: var(--a11y-tabs-content-background);
  border: 1px solid var(--a11y-tabs-border-color);
  flex: 1 1 calc(100% - 2 * var(--a11y-tabs-content-padding));
  overflow: auto;
}

:host([vertical]) #content {
  border: none;
}

:host(:not([vertical])) #content {
  border-radius: var(--a11y-tabs-horizontal-border-radius);
  margin-top: -1px;
}

:host #tabs paper-button {
  margin: 0;
  text-transform: unset;
  color: var(--a11y-tabs-color);
  background-color: var(--a11y-tabs-faded-background);
  border: 1px solid var(--a11y-tabs-border-color);
  padding: var(--a11y-tabs-button-padding);
}

:host([vertical]) #tabs paper-button {
  border-top: none;
  border-left: none;
  border-radius: 0; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--a11y-tabs-vertical-button-padding);
}

:host(:not([vertical])) #tabs paper-button {
  border-bottom: none;
  border-radius: var(--a11y-tabs-horizontal-border-radius) var(--a11y-tabs-horizontal-border-radius) 0 0; 
  padding: var(--a11y-tabs-horizontal-button-padding);
}

:host(:not([vertical])) #tabs li:not(:first-of-type) paper-button {
  border-left: none;
}

:host  #tabs paper-button:active,
:host #tabs paper-button:focus,
:host #tabs paper-button:hover {
  color: var(--a11y-tabs-focus-color);
  background-color: var(--a11y-tabs-faded-background);
}

:host #tabs paper-button.active[disabled] {
  color: var(--a11y-tabs-focus-color);
  background-color: var(--a11y-tabs-background);
  opacity: 1;
}

:host #tabs paper-button:not(.active)[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

:host([vertical]) #tabs paper-button[disabled] {
  border-right-color: var(--a11y-tabs-background);
}

:host(:not([vertical])) #tabs paper-button[disabled] {
  border-bottom: 1px solid var(--a11y-tabs-background);
}

:host #tabs span.label,
:host #tabs .flag-icon {
  margin-right: 8px;
}

:host #tabs.icons-only paper-button {
  justify-content: center;
}

:host #tabs.icons-only span.label {
  display: none;
}

:host #tabs:not(.icons-only) simple-tooltip {
  display: none;
}
