:host {
  display: block;
  height: var(--a11y-tabs-height);
  overflow: var(--a11y-tabs-overflow);
  font-size: var(--a11y-tabs-font-size, unset);
  font-family: var(--a11y-tabs-font-family, unset);
  --a11y-tabs-width: 100%;
  --a11y-tabs-background: white;
  --a11y-tabs-border-color: #ddd;
  --a11y-tabs-color: #000;
  --a11y-tabs-faded-color: #333;
  --a11y-tabs-focus-color: var(-a11y-tabs-color);
  --a11y-tabs-faded-background: #f8f8f8;
  --a11y-tabs-disabled-color: #999;
  --a11y-tabs-disabled-background: #eee;
  --a11y-tabs-border-radius: 2px;
  --a11y-tabs-horizontal-background: var(--a11y-tabs-background, white);
  --a11y-tabs-horizontal-border-radius: var(--a11y-tabs-border-radius, 2px);
  --a11y-tabs-vertical-border-radius: var(--a11y-tabs-border-radius, 2px);
  --a11y-tabs-content-background: var(--a11y-tabs-background, white);
  --a11y-tabs-content-padding: 16px;
  --a11y-tabs-button-padding: 8px;
  --a11y-tabs-vertical-button-padding: var(--a11y-tabs-button-padding, 8px);
  --a11y-tabs-horizontal-border-radius: unset;
  --a11y-tabs-vertical-border-radius: unset;
  --a11y-tabs-horizontal-button-padding: var(--a11y-tabs-button-padding, 8px);
  --a11y-tabs-width: auto;
}

:host([vertical]) {
  border: 1px solid var(--a11y-tabs-border-color);
  border-radius: var(--a11y-tabs-vertical-border-radius);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

:host([hidden]) {
  display: none;
}

:host #tabs {
  align-items: stretch;
  flex-wrap: var(--a11y-tabs-wrap, unset);
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;
  overflow: auto;
  max-width: 100%;
  overflow-x: auto;
  z-index: 1;
  justify-content: var(--a11y-tabs-horizontal-justify-tabs);
  background-color: var(--a11y-tabs-horizontal-background);
  font-family: var(--a11y-tabs-tab-font-family, var(--a11y-tabs-font-family, unset));
  font-size: var(--a11y-tabs-tab-font-size, var(--a11y-tabs-font-size, unset));
}

:host([vertical]) #tabs {
  border-left: none;
  flex: 0 0 auto;
  flex-direction: column;
  overflow-y: auto;
  max-width: unset;
  overflow-x: unset;
  z-index: unset;
  background-color: var(--a11y-tabs-vertical-background);
  justify-content: var(--a11y-tabs-vertical-justify-tabs);
  flex-wrap: var(--a11y-tabs-vertical-wrap);
}

:host([sticky]) #tabs {
  position: sticky;
  top: 0;
}

:host #tabs li {
  display: flex;
  align-items: stretch;
}

:host([vertical]) #tabs li {
  flex-direction: column;
}

:host #tabs .flag-type {
  position: absolute;
  left: -99999px;
  height: 0; 
  overflow: hidden;
}

:host #content {
  padding: var(--a11y-tabs-content-padding);
  background-color: var(--a11y-tabs-content-background);
  border: 1px solid var(--a11y-tabs-border-color);
  flex: 1 1 calc(100% - 2 * var(--a11y-tabs-content-padding));
  overflow: auto;
}

:host([vertical]) #content {
  border: none;
}

:host(:not([vertical])) #content {
  border-radius: var(--a11y-tabs-horizontal-border-radius);
  margin-top: -1px;
}

:host #tabs paper-button {
  margin: 0;
  text-transform: unset;
  color: var(--a11y-tabs-faded-color);
  border: 1px solid var(--a11y-tabs-border-color);
  background-color: var(--a11y-tabs-faded-background);
  padding: var(--a11y-tabs-horizontal-button-padding);
  border-radius: var(--a11y-tabs-horizontal-border-radius) var(--a11y-tabs-horizontal-border-radius) 0 0; 
}

:host([vertical]) #tabs paper-button {
  border-top: none;
  border-left: none;
  border-radius: 0; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--a11y-tabs-vertical-button-padding);
}

:host(:not([vertical])) #tabs li:not(:first-of-type) paper-button {
  border-left: none;
}

:host #tabs paper-button:active,
:host #tabs paper-button:focus,
:host #tabs paper-button:hover {
  color: var(--a11y-tabs-focus-color);
}

:host #tabs paper-button.active[disabled] {
  color: var(--a11y-tabs-focus-color);
  background-color: var(--a11y-tabs-background);
}

:host(:not([vertical])) #tabs paper-button.active {
  border-bottom: var(--a11y-tabs-background);
}

:host([vertical]) #tabs paper-button.active {
  border-right: var(--a11y-tabs-background);
}

:host #tabs paper-button:not(.active)[disabled] {
  color: var(--a11y-tabs-disabled-color);
  background-color: var(--a11y-tabs-disabled-background);
  cursor: not-allowed;
}

:host #tabs span.label,
:host #tabs .flag-icon {
  margin-right: 8px;
}

:host([icons-only]) #tabs paper-button {
  justify-content: center;
}

:host([icons-only]) #tabs span.label {
  display: none;
}

:host(:not([icons-only])) #tabs #tabs simple-tooltip {
  display: none;
}
