:host {
  display: inline-block;
  z-index: 99999999999;
  position: absolute;
}

:host([hidden]) {
  display: none;
}

:host([debug-mode][data-debug-position]):before{
  content: attr(data-debug-position);
  background-color: white;
  color: #880000;
  display: inline-block;
  position: absolute;
  z-index: 2;
}
