  :host {
    display: block;
    @apply --paper-font-common-base;
    @apply --paper-button;
    --lrnsys-button-height: 48px;
  }

  :host(.center) {
    text-align: center;
  }

  a {
    text-decoration: none;
    display: block;
    color: #000000;
  }

  paper-button {
    transition: .3s;
    margin: 0;
    max-width: 50%;
    height: inherit;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    border-radius: unset;
  }

  paper-button iron-icon {
    height: var(--lrnsys-button-height);
    margin: 0 12px;
  }

  paper-button div.inner {
    height: var(--lrnsys-button-height);
    line-height: var(--lrnsys-button-height);
    padding: 0 12px;
  }

  paper-button span.label {
    height: var(--lrnsys-button-height);
    line-height: var(--lrnsys-button-height);
  }

  .no-margin {
    margin: 0 !important;
  }

  .no-right-padding {
    padding-right: 0 !important;
  }

  .no-left-padding {
    padding-left: 0 !important;
  }

  .center {
    text-align: center;
    margin: 0 auto;
  }