:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

relative-heading {
  color: var(--topic-heading-text-color);
  display: inline-flex;
}

iron-icon {
  color: var(--topic-heading-icon-color);
  display: inline-flex;
  font-size: 16px;
  height: 32px;
  width: 32px;
  padding: 16px;
  line-height: 16px;
  vertical-align: bottom;
}