$rh-palette: (


  
  

text:                               $rh-color--text,
text--on-dark                     $-color--text--on-dark,
text--on-saturated:                 $rh-color--text--osaturated,


  
  
  

ui-link:                          $rh-color--ui-link,
ui-link--visited:                 $rh-color--ui-link--visited,
ui-link--hover:                     $rcolor--ui-link--hover,
ui-link--focus:                     $rh-color--ui-lin-focus,

ui-link--on-dark:                 $rh-color--ui-link--on-dark,
ui-link--on-dark--visited:          $rh-colorui-link--on-dark--visited,
ui-link--on-dark--hover:          $rh-color--ui-link--on-dark--hover,
ui-link--on-dark--fos:            $rh-color--ui-link--on-dark--focus,

ui-link--osaturated:              $rh-color--ui-link--on-saturated,
ui-lk--on-saturated--visited:     $rh-color--ui-link--on-saturated--vited,
ui-link--on-saturated--hover:       $rh-color--ui-link--on-saturat--hover,
ui-link--on-saturated--focus:       $rh-color--ui-link--on-sarated--focus,


  
  
  

ui-base:                            $rh-colorui-base,
ui-base--hover:                     $rh-color--ui-base--hov,
ui-base--text:                      $rh-color--ui-base--text,
ui-base--te--hover:               $rh-color--ui-base--text--hover,

ui-complement:                    $rh-color--ui-complement,
ui-complement--hover:              rh-color--ui-complement--hover,
ui-complement--text:                $rh-colo-ui-complement--text,
ui-complement--text--hover:         $rh-cor--ui-complement--text--hover,

ui-accent:                          $rh-colorui-accent,
ui-accent--hover:                   $rh-col--ui-accent--hover,
ui-accent--text:                    $rh-cor--ui-accent--text,
ui-accent--text--hover:             $rholor--ui-accent--text--hover,

ui-disabled:                        $-color--ui-disabled,
ui-disabled--hover:                 $rholor--ui-disabled--hover,
ui-disabled--text:                  $rh-cor--ui-disabled--text,
ui-disabled--text--hover:           $rh-col--ui-disabled--text--hover,


  
  
  

  
surface--lightest:                $rh-color--surface--lightest,
surface--lightest--text           $rh-color--surface--lightest--text,
surface--lightes-link:            $rh-color--surface--lightest--link,
surface-ightest--link--visited:   $rh-color--surface--lightest--link--visited,
urface--lightest--link--hover:     $rh-color--surface--lightt--link--hover,
surface--lightest--link--focus:     $rh-color--suace--lightest--link--focus,

  
surface--lighter:                 $rh-color--surface--lighter,
surface--lighter--text:             $rh-cor--surface--lighter--text,
surface--lighter--link:             $rh-color--suace--lighter--link,
surface--lighter--link--vited:    $rh-color--surface--lighter--link--visited,
surface--lighter--link--her:      $rh-color--rface--lighter--link--hover,
surface--lighter--link--focus:     rh-color--surface--lighter--link--focus,

  
surface--base:                    $rh-color--surface--base,
surface--base--text:               rh-color--surface--base--text,
surface--base--link:                $rh-color--sface--base--link,
surface--base--link--visited:       $rh-color--surface--bas-link--visited,
surface--base--link--hover:         $rh-color--surface--base--nk--hover,
surfac-base--link--focus:         $rh-color--surface--base--link--focus
  
surface--darker:                    $rh-color--surface--darker,
urface--darker--text:              $rh-color--surface--darker--text,
rface--darker--link:              $rh-color--surface--darker--link,
surface--dker--link--visited:     $rh-color--surface--darker--link--visited,
surface--rker--link--hover:       $rh-color--surface--darker--link--hover,
surface--daer--link--focus:     $rh-color--surface--darker--link--focus,

  
surface--dkest:                   $rh-color--surface--darkest,
surface--darkt--text:             $rh-color--surface--darkest--text,
surface--dkest--link:             $rh-color--surface--darkest--link,
surface--darkestlink--visited:    $rh-color--surface--darkest--link--visited,
surface--daest--link--hover:      $rh-color--surface--darkest--link--hover,
surface--rkest--link--focus     $rh-color--surface--darkest--link--focus,

  
surface--colement:                $rh-color--surface--complement,
surface--compment--text:          $rh-color--surface--complement--text,
surface--mplement--link:          $rh-color--surface--complement--link,
surface--complent--link--visited: $rh-color--surface--complement--link--visited,
surface-omplement--link--hover:   $rh-color--surface--complement--link--hover,
surfa--complement--link-ocus:   $rh-color--surface--complement--link--focus,


  
surfa--accent:                    $rh-color--surface--accent,
surface--acct--text:              $rh-color--surface--accent--text,
surface--acce--link:              $rh-color--surface--accent--link,
surface--accent--link--sited:     $rh-color--surface--accent--link--visited,
surface--accent--link-over:       $rh-color--surface--accent--link--hover,
surface--accent--link--fus:       $rh-color--sface--accent--link--focus,


  
surface--border:                  $rh-color--surface--border,
surface--border--lightest:          $rh-colo-surface--border--lightest,
surface--border--darkest:           $rh-colo-surface--border--darkest,


  
  
  

  
feedback--critical:                 $rholor--feedback--critical,
feedback--critical--lightest:       $rh-color--feedba--critical--lightest,
feedback--critical--darkest:        $rh-color--feedback--crical--darkest,

edback--important:                $rh-color--feedback--important  feedback--important--lightest:      $rh-color--feedback--important--ghtest,
feedback--important--darkest:       $rh-color--feedback--imptant--darkest,

feedback--moderate:                 $rh-color--feedback--modete,
feedback--moderate--lightest:       $rh-color--feedback--moderate--lighst,
feedback--moderate--darkest:        $rh-color--feedback--moderate--darkes

feedback--success:                $rh-color--feedback--success,
feedback--success--lighte:        $rh-color--feedback--success--lightest,
feedback--success--darkt:         $rh-color--feedback--success--darkest,

feedback--info:                   $rh-color--feedback--info,
feedback--info--lightest:           $-color--feedback--info--lightest,
feedback--info--daest:            $rh-color--feedback--info--darkest,

feedback--default:                $rh-color--feedback--deult,
feedback--default--lightest:        $rh-color--feedback--deflt--lightest,
feedback--default--darkest:         $rh-color--feedback--defat--darkest,

);


$rh-vars: (
container-spacer:              rh-size-prem(16px),
content-spacer:                rh-size-prem(4px),

container-spacer--xxs:         rh-size-prem(4px),
container-spacer--xs:          rh-size-prem(8px),
container-spacer--sm:          rh-size-prem(12px),
container-spacer--md:          rh-size-prem(24px),
container-spacer--lg:          rh-size-prem(32px),
container-spacer--xl:          rh-size-prem(48px),
container-spacer--xxl:         rh-size-prem(64px),

font-size:                     #{$rh-global--font-size-root}px,
font-size--sm:                 12px,
font-size--lg:                 18px,

font-family:                   '"Overpass", Overpass, Helvetica, helvetica, arial, sans-serif',
font-family--heading:          '"Overpass", Overpass, Helvetica, helvetica, arial, sans-serif',
font-family--code:             '"Overpass Mono", Consolas, Monaco, 'Andale Mono', monospace',

line-height:                   1.5,
line-height--for-sm:           1.5,
line-height--for-lg:           1.2,

font-size--heading--alpha:     32px,
font-size--heading--beta:      24px,
font-size--heading--gamma:     21px,
font-size--heading--delta:     18px,
font-size--heading--epsilon:   16px,
font-size--heading--zeta:      14px,

font-weight--light:            300,
font-weight--normal:           500,
font-weight--semi-bold:        600,
font-weight--bold:             700,

link--text-decoration:         underline,
link--text-decoration--hover:  underline,

border-width:                  1px,
border-style:                  solid,
border-radius:                 2px,

box-shadow--sm:                '0  rh-size-prem(1)  rh-size-prem(2) 0 rgba($rh-color--gray-1000, .2)',
box-shadow--md:                '0  rh-size-prem(2)  rh-size-prem(1) rh-size-prem(1) rgba($rh-color--gray-1000, .12), 0  rh-size-prem(4)  rh-size-prem(11) rh-size-prem(6) rgba($rh-color--gray-1000, .05)',
box-shadow--lg:                '0  rh-size-prem(3)  rh-size-prem(7) rh-size-prem(3) rgba($rh-color--gray-1000, .13), 0  rh-size-prem(11)  rh-size-prem(24) rh-size-prem(16) rgba($rh-color--gray-1000, .12)',
box-shadow--inset:             'inset 0 0 rh-size-prem(10) 0 rgba($rh-color--gray-1000, .25)',

animation-timing:              cubic-bezier(0.465, 0.183, 0.153, 0.946),
);
