:host {
  display: block;
  --accent-card-content-padding-bottom: 0px;
  --nav-card-linklist-icon-size: 24px;
}
::slotted([slot=linklist]) {
  display: none;
}
.linklist {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: var(--nav-card-linklist-margin-top, 20px);
  margin-bottom: var(--nav-card-linklist-margin-bottom, 20px);
}
.linklist > li {
  position: relative;
  padding: 5px 0;
  margin-bottom: 1px;
  opacity: 0.8;  
  min-height: calc(1px + var(--nav-card-linklist-left-size, 24px));
  display: flex;
  flex-direction: column;
  justify-content: var(--nav-card-linklist-li-justify, center);
}
.linklist > li {
  padding: 5px 0;
  text-align: left;
  border-bottom: var(--nav-card-linklist-border-bottom, 1px solid
    var(--simple-colors-default-theme-grey-4, #666));
}
.linklist > li:last-of-type {
  border-bottom: none;
}
button[slot="subheading"] {
  text-decoration: underline;
}
button[slot="subheading"]:focus,
button[slot="subheading"]:hover {
  text-decoration: none;
}
::slotted(button),
.linklist button {
  border: none;
  padding: 0;
  text-align: left;
  font-size: inherit;
  font-weight: inherit;
}
.linklist-left,
.linklist iron-icon {
  position: absolute;
  right: 0px;
}
.linklist-left {
  left: 0px;
  top: calc(50% - 0.5 * var(--nav-card-linklist-left-size, 24px));
  width: var(--nav-card-linklist-left-size, 24px);
  height: var(--nav-card-linklist-left-size, 24px);
  border-radius: var(--nav-card-linklist-left-border-radius, 50%); 
  border: var(--nav-card-linklist-left-border, 
    var(--nav-card-linklist-border-bottom, 1px solid
    var(--simple-colors-default-theme-grey-4, #666))); 
}
.linklist iron-icon {
  top: calc(50% - 0.5 * var(--nav-card-linklist-icon-size, 24px));
  width: var(--nav-card-linklist-icon-size, 24px);
  height: var(--nav-card-linklist-icon-size, 24px);
}
.linklist-heading::after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.linklist-heading:focus {
  outline: none;
}
.linklist li:focus,
.linklist li:focus-within .linklist-heading::after {
  outline: 1px solid blue;
}
.linklist li:hover .linklist-heading,
.linklist li:focus .linklist-heading,
.linklist li:focus-within .linklist-heading {
  text-decoration: underline;
}
.linklist-heading,
.linklist-subheading {
  display: block;
  width: 100%;
}
:host([link-icon]) .linklist-heading,
:host([link-icon]) .linklist-subheading,
li.left-icon .linklist-heading,
li.left-icon .linklist-subheading {
  width: calc(100% - 7px - var(--nav-card-linklist-icon-size, 24px));
}
:host([link-icon]) li.left-icon .linklist-heading,
:host([link-icon]) li.left-icon .linklist-subheading {
  width: calc(100% - 14px - var(--nav-card-linklist-icon-size, 24px) - var(--nav-card-linklist-left-size, 24px));
}
li.left-icon .linklist-heading,
li.left-icon .linklist-subheading {
  margin-left: calc(7px + var(--nav-card-linklist-left-size, 24px));
}
.linklist-heading {
  font-weight: bold;
}
.linklist-subheading {
  font-size: 11px;
}