:host {
  display: block;
  --accent-card-content-padding-bottom: 0px;
  --nav-card-item-avatar-size: 36px;
  --nav-card-item-icon-size: 24px;
}

::slotted([slot=linklist]){
  --nav-card-item-color: var(--accent-card-color);
  --nav-card-item-background-color: var(--accent-card-background-color);
  margin-top: var(--nav-card-linklist-margin-top, 20px);
  margin-bottom: var(--nav-card-linklist-margin-bottom, 20px);
}